.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow:hidden;
}

.App-link {
  color: #61dafb;
}
